<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    >
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<dialog open>
    <article>
        <header>
            <button aria-label="Close" rel="prev"></button>
            <p>
                <strong>GA/TAS Server up and running!</strong>
            </p>
        </header>
        <p>

            <span th:text="${config.icaoAddress}"></span>
            We're excited to have you join on our server.<br />
            Please go to <a href="http://github.com/rvt/openace" target="_blank">github.com/rvt/openace</a> to learn more.
        </p>

    </article>
</dialog>
</body>
</html>
